@import 'variables';
nav {
	background: $primary-bg-color;
    width: 100%;
    
    .brand-container {
        position: relative;
        margin-left: .5rem;
        padding: 1rem;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    .search-bar-container {
        position: relative;
        display: flex;
        justify-content: center;
        top: unset;
        padding-bottom: .75rem;
        @media screen and (min-width: 767px) {
            position: absolute;
		    right: 0.5rem;
		    top: 1rem;
        }
    }
    input {
        padding: 0.5rem;
        border: none;
        border-radius: 100px;
        width: 180px;
        @media screen and (min-width: 900px) {
            transition: width .4s ease-in-out;
            &:focus {
                width: 250px;
            }
        }
        &:focus {
            outline: none;
        }
    }
    button {
        padding: 0.5rem;
        background: $secondary-bg-color;
        border: none;
        outline: none;
        color: $white;
        cursor: pointer;
        border-radius: 100px;
    }
}


@media screen and (min-width: 767px) {
	.search-bar-container {
		position: absolute;
		right: 0.5rem;
		top: 1rem;
	}
}