@import 'variables';
aside{
    margin: 0px;
    padding: 5px;
    min-height: 50%;
    background: $white;  /* fallback for old browsers */
	background: -webkit-linear-gradient(bottom, $primary-bg-color, $white);
	background: -o-linear-gradient(bottom, $primary-bg-color, $white);
	background: linear-gradient(to top, $primary-bg-color, $white);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    overflow-y: auto;
    height: calc(100vh - 60px); // deduct header height for full display
    display: none;
    &.selected {
        display: block;
    }
    @media screen and (min-width: 900px) {
        display: block;
        margin-left: 30vw;
        max-width: 70vw;
        width: 100%;
        height: calc(100vh - 60px);
    }
    @media screen and (max-width: 768px) {
        height: calc(100vh - 105px);
    }
    .mobile-header {
        display: none;
        a {
            color: $black;
            cursor: pointer;
            padding: .15rem;
            border: 1px solid $black;
            background: $black;
            color: $white;
            &:hover {
                background: $white;
                color: $black;
            }
        }
        @media screen and (max-width: 900px) {
            display: block;
        }
    }
}
.results-container {
    padding: .25rem .5rem;
    @media screen and (max-width: 420px) {
        padding: 0;
    }
    .title {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        h1 {
            padding: 0;
            margin: 0;
            margin-top: .5rem;
        }
    }
    .rated {
        position: relative;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
        p {display: inline-block;
            margin-top: .2em;
        }
    }
    .characters-container {
        margin:  5px;
        padding:  5px;
        position:  relative;
        display:  flex;
        justify-content:  space-evenly;
        color: $black;
        text-transform: capitalize;
        flex-wrap: wrap;
        @media screen and (max-width: 420px) {
            font-size: .8rem;
        }
        .column {
            display:  flex;
            flex-direction:  column;
            flex:1 0;
            padding: 0 .5em;
            span{
                padding: 5px;
            }
        }
    }
    .main-container {
        position:  relative;
        margin:  0;
        padding:  0;
        display:  flex;
        flex-direction:  column;
    }
    .left-container {
        display:  inline-block;
        width: 100%;
        @media screen and (min-width: 1200px) {
            width: 30%;
        }
    }
    .right-container {
        width:  100%;
        display:  -webkit-box;
        @media screen and (min-width: 1200px) {
            width: 70%;
        }
        @media screen and (max-width: 420px) {
            font-size: .8em;
        }
    }
    .content-wrapper {
        position:  relative;
	    max-width:  100%;
	    width:  100%;
	    margin-left:  0;
        left: 0;
        border: 2px solid $black;
        @media screen and (min-width: 1200px) {
            margin: 12px;
            position: absolute;
            width:69%;
            max-width:  70%;
            left:  29%;
        }
        @media screen and (max-width: 420px) {
            padding:  0;
	        margin: 10px 0 0 0;
        }
    }

    .tabs-container {
        background: $secondary-bg-color;
        ul {
            padding:  0;
            margin:  0;
            list-style:  none;
            color:  $white;
        }
        li {
            text-align:center;
            padding: 1em 0.5em;
            cursor: pointer;
            margin: 0;
            display: inline-table;
            width: calc(25% - 1.2em);
            &.active {
                background: darken($secondary-bg-color, 5%);
                font-weight: 800;
            }
        }
    }
    .content {
        margin: 0px;
        background: $white;
        padding:  2px;
        & > div {
            display: none;
            &.active {
                display: block;
            }
        }
        p {
            margin:  0;
            padding: 0em;
            width: 87%;
        }
    }
    .img-holder {
        padding: 5px;
        background: $white;
        border: 2px solid $black;
        position:  relative;
	    transform: translateX(-50%);
	    width: 200px;
        left:  50%;
        @media screen and (min-width: 1200px) {
            position:  absolute;
            left: 14%;
            width: auto;
        }
        img {
            max-width:  200px;
	        max-height:  250px;
            width: 100%;
            height:  auto;
            @media screen and (min-width: 1200px) {
                max-width: 220px;
                max-height: 280px;
            }
        }
        .default-img {
            display: none;
        }
    }
    .ratings-container {
        color:$black;
        display:  flex;
        position:  relative;
	    margin-top:  1em;
	    justify-content: center;
	    width: auto;
        margin-left: 0px;
        @media screen and (min-width: 1200px) {
            justify-content:  space-evenly;
            width: 68%;
            margin-left:  30%;
        }
        .column {
            max-width:  10%;
            position:  relative;
            padding: 0 2.5em;
            @media screen and (min-width: 1200px) {
                padding: 0 5em;
            }
            @media screen and (max-width: 420px) {
                padding: 0 1.5em;
            }
            &:last-child {
                border: none;
            }
        }
    }
    .content .item {
        display: flex;
        flex-direction: row;
        padding: .5em 0;
        strong {
            padding: 0px 3em 0 1em;
            text-transform: capitalize;
            width: 10%
        }
    }
    b {
        margin: 0 .25rem;
    }
}
